<!DOCTYPE html>
<html ng-app="bayesApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bayes.css">
  <!-- <link rel="stylesheet" href="css/angular-csp.css"> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<body ng-controller="BayesController">
<div class="container">
<h1 class="">Bayesian inference tool</h1>
<div ng-show="stage=='init'">
<h2>Configure</h2>
<form name="form">
<input focus-me="stage=='init'" type="number" min="2" step="1" required class="form-control" ng-model="numberOfHypotheses" placeholder="How many hypotheses"/>
<button ng-disabled="form.$invalid" class="btn btn-success pull-right" ng-click="addHypotheses()">Add hypotheses</button>
</form>
</div>
<div ng-show="stage=='addingHypotheses'">
<h2>Add hypotheses</h2>
<div ng-repeat="hypothese in hypotheses">Hypothese #{{$index+1}}:
<input focus-me="stage=='addingHypotheses' && $index==0" class="form-control" ng-model="hypothese.desc" placeholder="short description of hypothese"/>
</div>
<button class="btn btn-success" ng-click="inference()">Start</button>
</div>
<div ng-show="stage=='inference'">
<form name="evidenceForm">
  <table class="table">
    <tr>
      <th>Evidences/Hypotheses</th>
      <th ng-repeat="hypothese in hypotheses">{{hypothese.desc|limitTo:30}}</th>
    </tr>
      <tr ng-repeat="evidence in evidences">
      <td>
        <input focus-me="stage=='inference'" required ng-show="evidence.inEdit" class="form-control" ng-model="evidence.desc" placeholder="short description of evidence"/>
        <span ng-hide="evidence.inEdit"><strong>{{evidence.desc|limitTo:30}}</strong></span>
      </td>
      <td ng-repeat="hypothese in evidence.hypotheses">
        <input required ng-show="evidence.inEdit" type="number" min="0" max="1" step="0.1" class="form-control" ng-model="hypothese.likelihood" placeholder="likelihood of evidence if given hypothese is true"/>
        <span ng-hide="evidence.inEdit">{{hypothese.likelihood}}</span>
      </td>
      <td>
        <button ng-disabled="evidenceForm.$invalid || !evidence.inEdit" class="btn btn-success" ng-show="evidence.inEdit" ng-click="addEvidence(evidence)">Add</button>
      </td>
      <tr/>
    <tr>
      <td>Probability:</td>
      <td ng-repeat="result in results">
        {{result.value}}%
      </td>
      <td></td>
    </tr>
  </table>
</form>
  <br />
  <br />
  <h2>Results</h2>
  <table class="table">
    <tr><th>Hypothese</th><th>Probability</th></tr>
    <tr ng-repeat="result in results|orderBy:'-value'"><td>{{result.desc}}</td><td>{{result.value}}%</td></tr>
  </table>
</div>
</div>
</body>
</html>
